/* apply a natural box layout model to all elements, but allowing comoponents change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: rgba(189, 170, 3, 0.781); 
    background-image: linear-gradient(to right,#BFA435, #ECC112);
    color: rgb(64, 64, 66);
    font: 16px Arial, Helvetica, sans-serif; 
    margin: 5%;
    }
.p {
    padding-left: 50px;
}
    footer {
        font: 18px 'Staatliches', cursive;
        }

.p form {padding: 15px 7px 5px 7px;
   }     
.destinationshead {border: 4px solid white;
    
    width: 50%;
    border-radius: 10px;

}
.box{
    border-width: 2px;
    border-style:groove;
    border-color:rgb(4, 100, 9);
    border-radius: 10px;
}
.images {
    border-width: 4px;
    border-style:double;
    border-color:rgb(21, 87, 24);
    border-radius: 10px;
}

.icon {
    float: ;
    border-width: 2px;
    border-style:groove;
    border-color:rgba(21, 87, 24, 0.014);
    border-radius: 10px;
}

.homeicon{
    border-width: 4px;
    border-style:double;
    border-color:rgb(21, 87, 24);
    border-radius: 10px;
}

.sidebar {
    float: left;
    width: 200px;
    height: 800px;
    border-width: 4px;
    border-style:solid;
    border-color:rgb(21, 87, 24);
    border-radius: 10px;
}

.photos {
    float: right;
    width: 310px;
    height: 1000px;
    border-width: 4px;
    border-style:solid;
    border-color:rgb(21, 87, 24);
    border-radius: 10px;
}


    
    
